# Recuperation des fichiers d'update envoyés par ABC Bourse

In [1]:
import imaplib
import email
import zipfile
import io
from email.header import decode_header

import pandas as pd
from io import StringIO
from collections import Counter

# Connexion à la boîte mail
username = "croissant.olivier@wanadoo.fr"
password = "Liberty_orange_396939"
imap_server = "imap.orange.fr"

username = "croissant.olivier@wanadoo.fr"
password = "Liberty_orange_3969"
imap_server = "imap.orange.fr"

# Se connecter au serveur IMAP
mail = imaplib.IMAP4_SSL(imap_server)
mail.login(username, password)

# Sélectionner la boîte spécifique "a_A_abc_bourse"
mail.select("INBOX/a_A_abc_bourse")

# Recherche de tous les emails
status, messages = mail.search(None, "ALL")

# Récupérer les ID des emails
email_ids = messages[0].split()

# Tableau pour stocker le contenu des fichiers texte
A = []

for num in email_ids:
    # Récupérer l'email brut
    status, msg_data = mail.fetch(num, '(RFC822)')

    # Parser l'email
    msg = email.message_from_bytes(msg_data[0][1])

    # Parcourir chaque partie du mail à la recherche des fichiers attachés
    for part in msg.walk():
        content_disposition = str(part.get("Content-Disposition"))
        if "attachment" in content_disposition:
            filename = part.get_filename()
            if filename and filename.endswith('.zip'):
                # Décodage éventuel du nom de fichier
                decoded_filename, encoding = decode_header(filename)[0]
                if isinstance(decoded_filename, bytes):
                    filename = decoded_filename.decode(encoding if encoding else "utf-8")
                
                # Récupération du contenu ZIP en mémoire
                zip_content = part.get_payload(decode=True)
                
                # Ouvrir le ZIP en mémoire
                with zipfile.ZipFile(io.BytesIO(zip_content)) as z:
                    # Parcourir les fichiers dans le ZIP
                    for file_in_zip in z.namelist():
                        if file_in_zip.endswith('.txt'):
                            # Lire le contenu du fichier texte
                            with z.open(file_in_zip) as txt_file:
                                attachment_content = txt_file.read().decode('utf-8', errors='ignore')
                                A.append(attachment_content)

# Déconnexion propre
mail.logout()

# Maintenant, A[i] contient le texte de chaque fichier attaché extrait des ZIP
print(f"{len(A)} fichiers texte récupérés.")

220 fichiers texte récupérés.

https://www.abcbourse.com/download/libelles

# Rajout des ISIN non connus dans la base vendue par abc bourse

In [2]:
libelles_sup =[
['FR0014005DA7',"Exclusive Networks"],
['FR00140085W6p',"M.R.M"],
['CH1145930991p',"21Shares Cosmos Staking ETP"],
['LU2056739464p',"Lyxor MSCI World Climate Change (DR) UCITS ETF"],
['LU1602145200p',"Amundi Index Equity Global Multi Smart Allocation Scientific Beta UCITS ETF"],
['LU1523099700p',"Lyxor Bund Daily Short UCITS ETF"],
['LU0533034129p',"Lyxor MSCI World Communication Services TR UCITS ETF"],
['LU2198884145p',"Lyxor Net Zero 2050 S&P 500 Climate PAB (DR) UCITS ETF"],
['CH1177361008p',"21Shares The Sandbox ETP"],
['CH1161102699p',"21Shares Decentraland ETP"],
['LU0246033426p',"BNP Paribas Easy EURO STOXX 50 UCITS ETF"],
['FR0011363423p',"Lyxor MSCI USA ESG Broad CTB (DR) UCITS ETF"],
['LU0533033824p',"Lyxor MSCI World Materials TR UCITS ETF"],
['LU0488317701p',"Lyxor NYSE Arca Gold BUGS (DR) UCITS ETF"],
['LU1525419294p',"Amundi Index US Government Inflation-linked Bond UCITS ETF"],
['LU2056738144p',"Lyxor MSCI EM ESG Climate Transition CTB UCITS ETF"],
['LU1799934903p',"Lyxor MSCI World ESG Trend Leaders (DR) UCITS ETF"],
['FR0010296061p',"Lyxor MSCI USA ESG Broad CTB (DR) UCITS ETF"],
['LU2198883410p',"Lyxor Net Zero 2050 S&P 500 Climate PAB (DR) UCITS ETF"],
['LU1437024992p',"Amundi MSCI Brazil UCITS ETF"],
['CH0514065058p',"21Shares Short Bitcoin ETP"],
['LU1859445063p',"BNP Paribas Easy FTSE EPRA/NAREIT Developed Europe UCITS ETF"],
['FR0011607084p',"Amundi US Treasury 10Y Daily (-2x) Inverse UCITS ETF"],
['FR0014005OJ5p',"ACTICOR BIOTECH"],
['FR0013421286p',"ALPHA MOS"],
['FR00140069V2p',"GROUPE BERKEM"],
['FR0004152882p',"CLASQUIN"],
['FR0010285965p',"1000MERCIS"],
['FR0013495298p',"GAUSSIN"],
['FR0000035818p',"ESKER"],
['FR001400JAL7p',"ADOMOS"],
['FR001400MV37p',"NEOVACS"],
['FR0014005DA7p',"EXCLUSIVE NETWORKS"],
['IE000BI8OT95p',"Amundi Core MSCI World UCITS ETF"],
['FR001400SVN0p',"Drone Volt"],
['FR001400SOY2p',"Acheter-Louer.fr"],
['FR001400X2S4p',"AtoS SE"],
['IE000NITTFF2n',"iShares Russell 1000 Growth UCITS ETF USD (Acc), émetteur iShares VII plc"],
['FR001400SUB7p',"Compagnie du Cambodge (CAMBODGE NOM.)"],
['LU3038520774p',"Amundi STOXX Europe Defense UCITS ETF (Acc)"],
['IE000DQLYVB9p',"iShares S&P 500 Swap PEA UCITS ETF EUR (Acc) – ticker SPEA"],
['IE00BWBXM500n',"SPDR S&P U.S. Financials Select Sector UCITS ETF (Acc) (USD)"],
['IE00BMVB5R75n',"Vanguard LifeStrategy 80% Equity UCITS ETF (EUR) Acc"],
['IE00BMTX1Y45n',"iShares S&P 500 Swap UCITS ETF USD (Acc)"],
['IE000VA628D5p',"iShares S&P 500 Top 20 UCITS ETF (USD) (Acc) – ticker SP20"],
['LU2999653251p',"Younited Financial (action ordinaire)"],
['LU3047998896p',"BNP Paribas Easy Bloomberg Europe Defense UCITS ETF (Acc)"],
['IE000OJ5TQP4p',"HANetf “Future of Defence” UCITS ETF (ticker NATO/ASWC suivant marché)"],
['FR001400ZU25p',"SAFE SA (ex-Safe Orthopaedics) – coté Euronext Growth"],
['FR0014010H01p',"Semco Technologies (Euronext Growth Paris)"],
['FR001400WXE7p',"PREATONI GROUP (Euronext Access+)"],
['ES0105910006p',"SAJA Real Estate SOCIMI, S.A"],
['FR0014010QE1p',"Hopium SA"],
['FR0014010856p',"Neovacs SA"],
['IE000YYE6WK5p',"VanEck Defense UCITS ETF (A USD Acc)"],
['IE000YU9K6K2p',"VanEck Space Innovators UCITS ETF (A USD Acc) – ticker JEDI"],
['ES0105908000p',"Inmolecule Nanotech, S.A"],
['DE000A2QP372n',"iShares EURO STOXX Banks 30-15 UCITS ETF (DE)"],
['IE000M7V94E1p',"VanEck Uranium and Nuclear Technologies UCITS ETF."]
]

In [3]:
# ISIN manquants manuellement ajoutés
df_sup = pd.DataFrame(libelles_sup, columns=["ISIN", "Nom"])
df_sup["Ticker"] = "inconnu"  # Valeur par défaut pour les tickers manquants

# Chargement des fichiers CSV
df_isin1 = pd.read_csv("C:\\Users\\emerg\\Desktop\\A_Trading\\libelles.csv", sep=";")
df_isin2 = pd.read_csv("C:\\Users\\emerg\\Desktop\\A_Trading\\libelles2.csv", sep=";")

# Fusion finale avec index réinitialisé
df_isin = pd.concat([df_isin1, df_isin2, df_sup], ignore_index=True)

In [4]:
# Chargement du fichier ISIN/Nom/Ticker

isin_to_nom = df_isin.set_index("ISIN")["Nom"].to_dict()
isin_to_ticker = df_isin.set_index("ISIN")["Ticker"].to_dict()

# Parser chaque entrée de A pour construire un seul DataFrame
all_rows = []
for a in A:
    # Nettoyage des décimales (virgule -> point)
    a_clean = a.replace(",", ".")
    lines = a_clean.strip().splitlines()
    for line in lines:
        parts = line.strip().split(";")
        if len(parts) == 7:
            isin, date, open_, high, low, close, volume = parts
            nom = isin_to_nom.get(isin, "inconnu")
            ticker = isin_to_ticker.get(isin, "inconnu")
            all_rows.append({
                "ISIN": isin,
                "Date": date,
                "Open": float(open_),
                "High": float(high),
                "Low": float(low),
                "Close": float(close),
                "Volume": int(volume),
                "Nom": nom,
                "Ticker": ticker,
                "Source":"Daily Update"
            })

# Création du DataFrame final
df_from_A = pd.DataFrame(all_rows)

# Affichage
print(f"✅ Nombre total de lignes extraites depuis A : {len(df_from_A)}")

# Optionnel : lister les ISIN inconnus avec leur fréquence
isin_inconnus = [row["ISIN"] for row in all_rows if row["Nom"] == "inconnu"]
counter = Counter(isin_inconnus)
if counter:
    print("\n🔎 ISIN inconnus rencontrés :")
    for isin, count in counter.items():
        print(f"{isin} : {count} fois")
else:
    print("\n✅ Tous les ISIN ont été trouvés.")

✅ Nombre total de lignes extraites depuis A : 260926

✅ Tous les ISIN ont été trouvés.

# Traitement de la base historique de abc bourse

In [5]:
# 3. Charger l’historique
fichier_path1 = "C:\\Users\\emerg\\Desktop\\A_Trading\\ActionFrancaise_ListeA.csv"
fichier_path2 = "C:\\Users\\emerg\\Desktop\\A_Trading\\ActionFrancaise_ListeA1.csv"

# Chargement des deux fichiers CSV avec le bon séparateur
df1 = pd.read_csv(fichier_path1, sep=';', encoding='utf-8')
df2 = pd.read_csv(fichier_path2, sep=';', encoding='ISO-8859-1')

df_concat = pd.concat([df1, df2], ignore_index=True).drop_duplicates(subset=["ISIN", "Date"])
df_concat["Source"] = "Historique"

# 1. Appliquer les dictionnaires aux données historiques
df_concat["Nom"] = df_concat["ISIN"].map(isin_to_nom).fillna("inconnu")
df_concat["Ticker"] = df_concat["ISIN"].map(isin_to_ticker).fillna("inconnu")

# 4. Fusion avec les nouvelles données
df_final = pd.concat([df_concat, df_from_A], ignore_index=True).drop_duplicates(subset=["ISIN", "Date"])

In [6]:
len(df_final)

1959900

In [7]:
isin_manquants = df_final[df_final["Nom"] == "inconnu"]["ISIN"]
if not isin_manquants.empty:
    print("\n🚨 ISIN inconnus dans le dataset final :")
    print(isin_manquants.value_counts())
else:
    print("\n✅ Tous les ISIN ont un nom.")

✅ Tous les ISIN ont un nom.

In [8]:
len(isin_manquants)

0

In [9]:
def clean_isin_column(df, column="ISIN"):
    """
    Nettoie la colonne ISIN en supprimant la dernière lettre
    si c'est un caractère alphabétique.
    """
    def sanitize(isin):
        isin = str(isin)
        if isin and isin[-1].isalpha():
            return isin[:-1]
        return isin
    
    df[column] = df[column].apply(sanitize)
    return df

In [10]:
df_final = clean_isin_column(df_final)

In [11]:
df_final

,ISIN,Date,Open,High,Low,Close,Volume,Nom,Source,Ticker
0,FR0000064578,26/07/90,14.350,14.350,14.350,14.350,0,Covivio,Historique,COV
1,FR0000054215,26/07/90,65.250,65.250,65.250,65.250,0,Unibel,Historique,UNBL
2,FR0000064578,27/07/90,14.300,14.300,14.300,14.300,0,Covivio,Historique,COV
3,FR0000054215,27/07/90,63.270,63.270,63.270,63.270,0,Unibel,Historique,UNBL
4,FR0000064578,30/07/90,13.720,13.720,13.720,13.720,0,Covivio,Historique,COV
...,...,...,...,...,...,...,...,...,...,...
1959895,US2220702037,03/10/25,3.360,3.401,3.358,3.401,2884,Coty Inc.,Daily Update,COTY
1959896,FR0000124570,03/10/25,14.000,14.220,13.900,14.100,103690,OPmobility (ex Plastic Omnium),Daily Update,OPM
1959897,LU0569974404,03/10/25,30.880,31.740,30.740,31.640,324105,Aperam,Daily Update,APAM
1959898,BE0003853703,03/10/25,68.400,69.500,68.300,69.500,18700,Montea C.V.A.,Daily Update,MONT
1959899,FR0010221234,03/10/25,3.555,3.730,3.495,3.710,2129082,Eutelsat Com.,Daily Update,ETL

# Creation de la base de donnée postgres

In [12]:
import psycopg2

conn = psycopg2.connect(
    dbname="bourse",
    user="olivier",
    password="cccc",
    host="localhost",
    port="5432"
)

In [13]:
import sqlite3  # Pas besoin d'installation
from sqlalchemy import create_engine,text

In [14]:
# Supposons que df_final est prêt et contient les colonnes nettoyées suivantes :
# ["ISIN", "Date", "Open", "High", "Low", "Close", "Volume", "Nom", "Ticker", "source"]

# Nettoyage : conversion Date + types numériques

df_final["Date"] = pd.to_datetime(df_final["Date"], format="%d/%m/%y", errors="coerce", dayfirst=True)
df_final["Open"] = pd.to_numeric(df_final["Open"], errors="coerce")
df_final["High"] = pd.to_numeric(df_final["High"], errors="coerce")
df_final["Low"] = pd.to_numeric(df_final["Low"], errors="coerce")
df_final["Close"] = pd.to_numeric(df_final["Close"], errors="coerce")
df_final["Volume"] = pd.to_numeric(df_final["Volume"], errors="coerce")

# Connexion à la base SQLite locale
#engine = create_engine('sqlite:///bourse.db')  # Remplacer par la chaîne de connexion à ta base (PostgreSQL, etc.)

# Remplace par tes identifiants PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:cccc@localhost:5432/bourse")

# Supprimer la table seulement si elle existe
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS ABC_Bourse"))
    conn.commit()

print("✅ Table ABC_Bourse supprimée si elle existait.")

# Création / remplacement de la table ABC_Bourse
df_final.to_sql("ABC_Bourse", con=engine, if_exists="replace", index=False)

print("✅ Table ABC_Bourse créée dans la base 'bourse.db'")

✅ Table ABC_Bourse supprimée si elle existait.
✅ Table ABC_Bourse créée dans la base 'bourse.db'

# Creation de la base de donnée Des codes ISIN

In [15]:
df_isin = clean_isin_column(df_isin)

In [16]:
# On garde le premier enregistrement par ISIN (tu peux aussi faire 'last' selon ton besoin)
df_isin_unique = df_isin.drop_duplicates(subset="ISIN", keep="first")

# Vérif rapide
print(f"Nombre total initial : {len(df_isin)}")
print(f"Nombre après déduplication : {len(df_isin_unique)}")

Nombre total initial : 17613
Nombre après déduplication : 7008

In [17]:
df_isin_unique.to_sql("ISIN_Metadata", con=engine, if_exists="replace", index=False)
print("✅ Table ISIN_Metadata enregistrée dans la base bourse.db.")

✅ Table ISIN_Metadata enregistrée dans la base bourse.db.